
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Manage My Apartment</title>
    <link rel="stylesheet" type="text/css" href="../css/login-page.css" th:href="@{/css/login-page.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap-theme.min.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
<header th:fragment="custom-header">Welcome to S V Lakeview Apartment management site <br/>
    <div th:if="${userObj != null and userObj.emailAddr != null}">
        Logged in as :: <b th:text="${userObj.firstname}"></b>&nbsp;<b th:text="${userObj.lastname}"></b>&nbsp;
        <a th:href="@{/}">Logout</a>
    </div>
</header>
<section layout:fragment="custom-body-content">
    <p>Your page content goes here</p>
</section>
<footer th:fragment="custom-footer">&copy;Manage My Apartment</footer>
</body>
</html>