<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Profile page</title>

</head>
<body>
<section th:fragment="user-profile-content">
    <div class="modal fade" th:id="${userObjData.systemUserId}" aria-labelledby="tiketLabel"
         role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <table width="100%">
                        <tr>
                            <td><h4 align="center">USER DETAILS</h4></td>
                            <td>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body">
                    <table id="tableModal" class="table table-bordered table-striped">
                        <tr>
                            <th>First Name</th>
                            <td th:text="${userObjData.firstname}"/>
                            <th>Last Name</th>
                            <td th:text="${userObjData.lastname}"/>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td th:text="${userObjData.emailAddr}"/>
                            <th>Secondary Email Address</th>
                            <td th:text="${userObjData.additionalUserDetails.secondEmailAddr}"/>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td th:text="${userObjData.phoneNbr}"/>
                            <th>Alt Phone Number</th>
                            <td th:text="${userObjData.additionalUserDetails.altPhoneNbr}"/>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td th:text="${userObjData.gender}"/>
                            <th>Date Of Birth</th>
                            <td th:text="${userObjData.dateOfBirth}"/>
                        </tr>
                        <tr>
                            <th>Flat Number</th>
                            <td th:text="${userObjData.flatNumber}"/>
                            <th>Residing Since</th>
                            <td th:text="${userObjData.residingSince}"/>
                        </tr>
                        <tr>
                            <th>Resident Status</th>
                            <td th:text="${userObjData.additionalUserDetails.residentStatus}"/>
                            <th>User Status(Is Active)</th>
                            <td th:text="${userObjData.additionalUserDetails.isActive}"/>
                        </tr>
                        <tr>
                            <th>User Role</th>
                            <td th:text="${userObjData.additionalUserDetails.userRole}"/>
                            <th>Number Of People</th>
                            <td th:text="${userObjData.additionalUserDetails.noOfPpl}"/>
                        </tr>
                        <tr>
                            <th>Pending Amount</th>
                            <td th:text="${userObjData.pendingAmount}"/>
                            <th>Uploaded File</th>
                            <td th:if="${userObjData.additionalUserDetails.uploadFile != null}">
                                <a href="#" th:href="@{/getPdf(systemId=${userObjData.systemUserId},
                                 docType=${userObjData.additionalUserDetails.uploadFile.docUploadType})}">
                                    <span th:text="${userObjData.additionalUserDetails.uploadFile.filename}"></span>
                                </a>
                            </td>
                            <td th:if="${userObjData.additionalUserDetails.uploadFile == null}">
                                <h6>NA</h6>
                            </td>
                        </tr>
                        <span th:if="${userObjData.ownerDetails != null}">
                            <tr class="active">
                                <td colspan="4" align="center"><h5>Owner Details are given below</h5></td>
                            </tr>
                            <tr>
                                <th>Owner First Name</th>
                                <td th:text="${userObjData.ownerDetails.ownerFirstname}"></td>
                                <th>Owner Last Name</th>
                                <td th:text="${userObjData.ownerDetails.ownerLastname}"></td>
                            </tr>
                            <tr>
                                <th>Owner Phone Number</th>
                                <td th:text="${userObjData.ownerDetails.ownerPhoneNbr}"></td>
                                <th>Owner Email Address</th>
                                <td th:text="${userObjData.ownerDetails.ownerEmailAddr}"></td>
                            </tr>
                            <tr>
                                <th>Owner Address</th>
                                <td colspan="3" th:text="${userObjData.ownerDetails.ownerAddr}"></td>
                            </tr>
                        </span>
                    </table>
                </div>
                <div class="modal-footer" th:if="${userObjData.additionalUserDetails.userRole != 'SUPER_ADMIN'}">
                    <table width="100%">
                        <tr>
                            <td colspan="2" align="center">
                                <a href="#"
                                   th:href="@{/edit/{userId}/(userId=${userObjData.systemUserId})}">Edit</a>
                            </td>
                            <span th:if="${isSuperAdmin and userObjData.additionalUserDetails.isActive}">
                                <td colspan="2" align="center"
                                    th:if="${userObjData.additionalUserDetails.userRole != 'SUPER_ADMIN'}">
                                    <a href="#"
                                       th:href="@{/deleteUser/{userId}/(userId=${userObjData.systemUserId})}">
                                        Delete</a>
                                </td>
                            </span>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>