<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layouts/BaseLayout">
<head>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Login</title>

    <script th:src="@{/js/manageMyApartment.js}"></script>
</head>
<body>

<section layout:fragment="custom-body-content">

    <div class="login-card">
        <p th:text="${loginError}" class="error-message"> Error Message</p>
        <h1>LOGIN</h1><br/>

        <form id="loginForm" th:action="@{/login}" th:object="${userObj}" method="post">
            <input type="text" placeholder="Email Address" name="emailAddr"
                   th:field="*{emailAddr}" required="true"/>
            <input type="password" placeholder="Password" name="password"
                   th:field="*{password}" required="true"/>
            <input type="submit" id="loginButton" class="login login-submit" value="Login"/>
        </form>
        <div class="login-help">
            <a href="#" th:href="@{/register}">Register</a> • <a href="#" th:href="@{/resetPassword}">Forgot Password</a>
            <!--<a href="register.html" data-toggle="modal" data-target="#registerModal">Register</a>-->
            <!--• <a href="#" th:href="@{/resetPassword}">Forgot Password</a>-->
        </div>
    </div>

    <!--<div class="modal fade" id="registerModal" role="dialog" style="display:none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"/>
        </div>
    </div>-->
</section>

</body>
</html>