<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layouts/BaseLayout">
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Register User</title>
    <script th:src="@{/js/manageMyApartment.js}"></script>
</head>

<body>
<section layout:fragment="custom-body-content">
    <div class="container">
    <!--<div class="modal-header" style="color:#fff">
        <table width="100%">
            <tr>
                <td><h3 align="center">REGISTER NEW USER</h3></td>
                <td>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </td>
            </tr>
        </table>
    </div>-->

    <!--<div class="modal-body">-->
        <p th:text="${registerError}" class="error-message"> Error Message</p>

        <form id="registerUserForm" th:action="@{/createUser}" th:object="${userObj}" method="post"
              class="form-register"
              enctype="multipart/form-data">
            <h3 align="center">REGISTER NEW USER</h3>

            <section th:replace="Layouts/RegisterUserLayout::register-new-user"></section>

            <table class="table table-striped">
                <tr>
                    <td colspan="3" style="text-align:center;"><label>Upload Id Proof (Upto 5MB &amp; Only .pdf) <span
                            class="required">*</span></label></td>
                    <td><input type="file" class="form-control" name="fileUpload" accept="application/pdf"
                               th:field="*{additionalUserDetails.uploadFile.tempFile}"/></td>
                </tr>
                <tr>
                    <td><label>Password <span class="required">*</span></label></td>
                    <td><input type="password" class="form-control" placeholder="Enter Password" name="password"
                               id="password" th:field="*{password}" required="true"/></td>
                    <td><label>Confirm Password <span class="required">*</span></label></td>
                    <td><input type="password" class="form-control" placeholder="Re-enter Password"
                               name="confirm_password"
                               id="confirm_password" th:field="*{confirm_password}" required="true"/></td>
                </tr>
                <tr class="active">
                    <td colspan="2"></td>
                    <td>
                        <!--<button type="button" class="login login-submit" data-dismiss="modal" aria-hidden="true">Close</button>-->
                        <button type="reset" class="login login-submit">Reset</button>
                        <input type="submit" id="registerButton" class="login login-submit" value="Submit"/></td>
                    <td></td>
                </tr>
                <tr th:if="${isAdmin}">
                    <td colspan="4"><a href="#" th:href="@{/getAllUsers(reports='false')}">Click here to go back</a></td>
                </tr>
                <tr th:if="${!isAdmin}">
                    <td colspan="4"><a href="#" th:href="@{/}">Click here to go back</a></td>
                </tr>
            </table>

        </form>
    </div>
    <!--</div>-->
</section>
</body>
</html>