<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layouts/BaseLayout">
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Reset Password</title>

    <script th:src="@{/js/manageMyApartment.js}"></script>
</head>

<body>
<section layout:fragment="custom-body-content">
    <div class="container">

        <h4 align="center">Reset Password</h4>

        <p th:text="${message}" class="error-message"> Error Message</p>

        <form id="resetPasswordForm" th:action="@{/resetPassword}" th:object="${resetPassword}" method="post"
              class="form-signin">
            <label><b>Email Address</b></label>
            <input type="text" class="form-control" placeholder="Enter Email Address" name="emailAddr" id="emailAddr"
                   th:field="*{emailAddr}" required="true"/>
            <label><b>New Password</b></label>
            <input type="password" class="form-control" placeholder="Enter New Password" name="new_password"
                   id="new_password" th:field="*{password}" required="true"/>
            <label><b>Confirm Password</b></label>
            <input type="password" class="form-control" placeholder="Re-enter Password" name="confirm_password"
                   id="confirm_password" th:field="*{confirm_password}" required="true"/>

            <input type="button" id="resetPassword" class="btn btn-lg btn-primary btn-block" value="Submit"/>
            <a href="#" th:href="@{/}">Click here to go back</a><br/>
        </form>
    </div>
</section>
</body>
</html>