<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layouts/MenuLayout">
<head>
    <meta charset="UTF-8"/>
    <title>Expense Tracker page</title>
    <script th:src="@{/js/manageMyApartment.js}"></script>
</head>
<body>
<section layout:fragment="custom-main-content">
    <div class="error-message" th:if="${bindErrors != null}">
        <div th:each="err : ${bindErrors}">
            <span th:text="${err.key}"></span>&nbsp;<span th:text="${err.value}"></span>
        </div>
    </div>

    <div>
        <a href="#" id="add-row" th:if="${isAdmin}">Add New Transaction</a>
        <!--<span class="right"><a href="#" th:href="@{/transactionSummaryHistory(reports='false')}">View History</a>-->
        <!--</span>-->
        <span class="right"><a href="#" id="history-details">View History</a>
            <a href="#" id="current-link-details" style="display:none;">View Current</a>
        </span>
    </div>
    <div id="add_row_table" style="display:none;">
        <form id="addRowForm" th:action="@{/addTransaction}" th:object="${newTransactionObj}" method="post"
              enctype="multipart/form-data">
            <table id="AddRowTable" class="table table-striped">
                <thead class="floral-background">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Flat Number</th>
                    <th>Expense Type</th>
                    <th>Mode of Payment</th>
                    <th>Amount(&#8377;)</th>
                    <th>Upload Receipt</th>
                    <th colspan="2">Add</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="date" placeholder="yyyy-MM-dd" name="date" th:field="*{date}"/></td>
                    <td><input type="text" placeholder="Enter description" name="description"
                               th:field="*{description}"/>
                    </td>
                    <td>
                        <select th:field="*{flatNumber}">
                            <option th:each="flatNumber : ${flatNumberList}"
                                    th:value="${flatNumber}"
                                    th:text="${flatNumber}">0
                            </option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{expenseType}">
                            <option th:each="expenseType : ${expenseTypeList}"
                                    th:value="${expenseType}"
                                    th:text="${expenseType}">EXPENSE
                            </option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{modeOfPayment}">
                            <option th:each="modeOfPayment : ${modeOfPaymentList}"
                                    th:value="${modeOfPayment}"
                                    th:text="${modeOfPayment}">Cash
                            </option>
                        </select>
                    </td>
                    <td><input type="text" placeholder="Enter amount" name="amount" th:field="*{amount}"/></td>
                    <td><input type="file" class="form-control" name="fileUpload" accept="application/pdf"
                               th:field="*{uploadFile.tempFile}"/></td>
                    <td colspan="2"><input type="submit" id="addButton" class="button" value="Add"/></td>
                </tr>
                </tbody>
            </table>
        </form>
        <hr/>
    </div>
    <section th:replace="Layouts/TransactionDetailsLayout::user-transaction-content">Custom content</section>
    <div id="display-total" style="text-align:center;font-weight: bold;font-size: 20px;">
        <hr/>
        <h4 style="color: #ffffff;">Total Expenditure for the current month:
            <span id="total-sum" th:text="${totalExpenseObj}" th:style="${totalExpenseObj} > 0 ?
            'color:green' : 'color:red'"/>
        </h4>
        <hr/>
    </div>
    <div th:if="${isAdmin and reportsPage}">
        <form id="download-reports-form" th:action="@{/downloadReport}" th:object="${reportObj}"
              method="post">
            <input type="submit" name="files" value="Download Report"/>
            <input type="hidden" name="forMonth" th:field="*{selectMonth}" th:value="${selectMonth}" />
            <input type="hidden" id="reportsType" th:field="*{reportsType}"/>
            <input type="hidden" id="expenseType" th:field="*{expenseType}"/>
        </form>
    </div>
</section>
</body>
</html>